  <%if devise_error_messages!.present?%>
     <div style = "margin:0px 0px 0px 0px" class = 'alert alert-danger alert-dismissable text-center' >
          <a href='#' class='close' data-dismiss='alert' aria-label='close'>×</a>
          <%= devise_error_messages! %>
       </div>
    <%end%>
<nav class='navbar navbar-inverse'>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class='navbar-brand img-circle' src = '/logo.jpeg' alt='logo' style='width:100px ; height:60px;padding: 2px 2px 2px 2px;'>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <h1 style='color:green; text-align:center;'>
      <strong>Welcome To Online Peer System</strong></h1>
    </div>
  </div>
</nav>
<div class= 'container-fluid' style="background-image:url(/bg3.jpg);height:658px; " >
  <div class='col-md-4 col-sm-4 col-xs-1'></div>
  <div class='col-md-4 col-sm-4 col-xs-10 text-center'>

    <div style="font-weight:90; background-color: white; padding:10px;box-shadow: 10px 10px 6px black; margin-top:20px;opacity: 0.8; "><br>

  	<h2><strong>Resend confirmation instructions</strong></h2>
  	<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  	   
  	  <div class='form-group'>
  	    <%= f.label :email %><br />
  	    <%= f.email_field :email, autofocus: true,class: 'form-control', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  	  </div>

  	  <div class='actions'>
  	    <%= f.submit 'Resend confirmation instructions', class: 'btn btn-primary form-control' %>
  	  </div>
  	<% end %>
  	<div class = 'link'>
  		<%= render 'devise/shared/links' %><br>
  	</div>
  </div>
  </div>
  <div class='col-md-4 col-sm-4 col-xs-1'></div>
</div>