<center><% if devise_error_messages!.present? %>
  <div style = "margin:0px 0px 0px 0px" class = 'alert alert-danger alert-dismissable' >
      <a href='#' class='close' data-dismiss='alert' aria-label='close'>×</a>
  <%= devise_error_messages! %>
  </div>
<%end%>
</center>
<nav class='navbar navbar-inverse' style="margin-bottom:0px;">
<img class='navbar-brand img-circle' src = '/logo.jpeg' alt='logo' style='width:100px ; height:50px;padding: 2px 2px 2px 2px;'>
  <ul class='nav navbar-nav'>
    <% if can? :manage, :all %>
      <li ><%=link_to 'Dashboard', rails_admin_path, method: :get%></li>
    <%end%>
    <% if cannot? :manage, :all %>
      <li><%=link_with_icon(:plus, 'Add Article', new_article_path, method: :get,)%></li>
      <li><%=link_with_icon('list-alt', 'Articles', articles_path, method: :get)%></li>
      <li><%=link_with_icon('check-square', 'Review Article', review_article_path)%></li>
    <%end%>
  </ul>
  <ul class= 'pull-right nav navbar-nav'>
    <li><%=link_with_icon(:home, 'Home', root_path)%></li>
    <li class='active'><%=link_with_icon('sign-out', 'Logout', destroy_user_session_path, method: :delete)%></li>
  </ul>
</nav>

<div class= 'container-fluid' style="background-image:url(/bg3.jpg); " >

  <div style="font-weight:90; background-color: white; margin-left:35%;box-shadow: 5px 5px 6px navy; margin-top:2px;text-align:center; width:25%; height:auto;opacity: 0.8;">
    <h1><strong><br>Edit Profile</strong></h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class='field'>
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true %>
      </div>

      <div class='field'>
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      
       <div class='field'>
        <%= f.label :current_password %><br />
        <%= f.password_field :current_password, autocomplete: 'off' %><br>
         <i>(we need your current password to confirm your changes)</i>
      </div>

      <div class='field'>
        <%= f.label 'New Password' %><br />
        <%= f.password_field :password, autocomplete: 'off' %><br>
        <i>
        (if you want to change your password)</i>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class='field'>
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: 'off' %>
      </div>

     

      <div class='actions'>
        <%= f.submit 'Update' %>
      </div>
    <% end %>

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= button_to 'Cancel my account', registration_path(resource_name), data: { confirm: 'Are you sure?' }, method: :delete, style:'margin-bottom:10px; margin-top:0px' %></p>
  </div>
</div>  