<div class = 'row'  >
	  <div class='col-lg-6 ' ><h3><%=name(comment.user_id)%></h3>
	   <h id='comment' ><%=comment.comment%></h><br>
	   <p  style="text-align:bottom;"><%=time_ago_in_words(comment.created_at)%>&nbsp;ago</p>
	  </div>
	  <div class='col-lg-2 col-lg-offset-4'>
	    <div class = 'article_actions'>
	      <% if can? :update, comment %>
		      <a href='<%= edit_comment_path(comment.id)%>' data-remote= "true"><i class="fa fa-pencil "></i></a><%else%><%end%>
		    <% if can? :destroy, comment%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		    <%= link_with_icon(:trash, '', comment_path(id: comment.id), method: :delete, data: { confirm: 'Are you sure?'})%>
		    <%else%>
		    <%end%>
      </div>
    </div>
</div><hr>