<%if can? :manage, :all %>
  <center>
    <% if flash[:success] %>
	    <div class = 'alert alert-success alert-dismissable' >
        <a href='#' class='close' data-dismiss='alert' aria-label='close'>×</a>
		    <%= flash[:success] %>
		  </div>
		<% elsif flash[:failure] %>
		  <div class = 'alert alert-danger alert-dismissable' >
        <a href='#' class='close' data-dismiss='alert' aria-label='close'>×</a>
		    <%= flash[:failure] %>
		  </div>
		<%end%>
		<body>
			<div class= 'container'>
				<h1 class=text-info> Select The Article to assign </h1>
				<style>
					table,th,td
					{border: 3px solid grey}
				</style>
				<div align='center'>
		      <%= paginate @articles %>
		    </div>
	      <div>
			   	<table class= 'table table-hover table-condensed'>
						<th> Title</th>
						<th>Description</th>
						<th>Category</th>
						<th colspan=2>Select Reviewers</th>
						<% @articles.each do|article| %>
							<tr>
							  <td><%= article.title %></td>
						    <td><%= article.description.html_safe %></td>
						    <td><%= article.category %></td>
						    <form method='post' action='<%=assign_article1_path%>'>
						    <td>
						    <input name='authenticity_token' value='<%= form_authenticity_token %>' type='hidden' />
			            <%= hidden_field :assign, :article_id, value: article.id %>
			            <%= hidden_field :assign, :title, value: article.title %>
			            <%= hidden_field :assign, :description, value: article.description %>
			            <%= hidden_field :assign, :category, value: article.category %>
						      <%= collection_select(:assign, :reviewer_id, users(article), :id, :name, {include_blank: false, include_hidden: false, :class=>'col-lg-8'}, {multiple: :true})%>
						      	<input class='col-lg-4' type='submit' value='assign'>
						      </td>
						    </form>
						  </tr>
						<%end%>
				</table>
			</div>
				<div align='center'>
		      <%= paginate @articles %>
		    </div>
				<div>
					<%= link_with_icon(:back, 'Back', root_path, method: :get) %>
				</div>
			</div>
    </body>
  </center>
<%end%>