<%if can? :index, :article %>
		<nav class='navbar navbar-inverse' >
		<div class="container-fluid" >
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
        <img class='navbar-brand img-circle' src = '/logo.jpeg' alt='logo' style='width:100px ; padding:2px;'>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar" >
	      <ul class='nav navbar-nav'>
		    <% if can? :manage, :all %>
		      <li ><%=link_to 'Dashboard', rails_admin_path, method: :get%></li>
		    <%end%>
		    <% if cannot? :manage, :all %>
		      <li><%=link_with_icon(:plus, 'Add Article', new_article_path, method: :get)%></li>
		      <li><%=link_with_icon('list-alt', 'Articles', articles_path, method: :get)%></li>
		      <li><%=link_with_icon('check-square', 'Review Article', review_article_path)%></li>
		    <%end%>
	    </ul>
		  <ul class= 'pull-right nav navbar-nav'>
		    <li><%=link_with_icon(:home, 'Home', root_path)%></li>
		    <li class='active'><%=link_with_icon('sign-out', 'Logout', destroy_user_session_path, method: :delete)%></li>
		  </ul>
		</div>
	</div>
</nav>
	<div class='container' style="min-height: 560px;">
	  <h1 style="text-align:center;" ><strong>Listing articles</strong></h1>
		<div align='center'>
      <%= paginate @articles %>
    </div>
		  <% @articles.each do|article| %>
			  <div class='well'>
			    <div class='row'>
			      <div class='col-lg-4'>
			        <div class='article_title'>
			          <%= link_to article.title, article_path(article.id), method: :get %>
			        </div>
			      </div>
			      <div class= 'col-lg-2 col-lg-offset-6'>
				      <div class = 'article_actions'>
					      <% if can? :update, article %>
						      <%= link_with_icon(:pencil, '', edit_article_path(id: article.id), method: :get)%><%else%><%end%>
						    <% if can? :destroy, article %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						    <%= link_with_icon(:trash, '', article_path(id: article.id), method: :delete, data: { confirm: 'Are you sure?'})%>
						    <%else%>
						    <%end%>
					    </div>
			      </div>
			    </div>
			  </div>
		  <%end%>
		<div align='center'>
      <%= paginate @articles %>
    </div>
    <br><br>
	</div>
<%end%>