<%if can? :review_article, :assign %>
	<center>
		<style>
			    table, th,td
			    {border:1px solid black;padding:4px 4px 4px 4px;}
			    table{width:800px;}
		    </style>
		<nav class='navbar navbar-inverse'>
		<img class='navbar-brand img-circle' src = '/logo.jpeg' alt='logo' style='width:100px ; height:50px;padding: 2px 2px 2px 2px;'>
      <ul class='nav navbar-nav'>
    <% if can? :manage, :all %>
      <li ><%=link_to 'Dashboard', rails_admin_path, method: :get%></li>
    <%end%>
    <% if cannot? :manage, :all %>
      <li><%=link_with_icon(:plus, 'Add Article', new_article_path, method: :get)%></li>
      <li><%=link_with_icon('list-alt', 'Articles', articles_path, method: :get)%></li>
      <li><%=link_with_icon('check-square', 'Review Article', review_article_path)%></li>
    <%end%>
  </ul>
  <ul class= 'pull-right nav navbar-nav'>
    <li><%=link_with_icon(:home, 'Home', root_path)%></li>
    <li class='active'><%=link_with_icon('sign-out', 'Logout', destroy_user_session_path, method: :delete)%></li>
  </ul>
</nav>
		  <div class= 'container'>
				<%= tinymce %>
				<h1><strong>These are the Articles Assigned By Admin</strong></h1>
				<div align='center'>
			    <%= paginate @articles %>
			  </div>
				<table class= 'table-hover'>
				  <th > Title</th>
				  <th >Description</th>
				  <th >Category</th>
				  <th colspan =3 >Actions</th>
				  <% @articles.each do|article| %>
					  <tr>
					    <td><strong> <%= link_to review_articles(article.article_id).title, article_path(article.article_id) %></strong></td>
					    <td><%= review_articles(article.article_id).description.html_safe %></td>
					    <td><%= review_articles(article.article_id).category %></td>
				      <% if can? :review_article1, article %>
					      <form  method='post' action = '<%=review_article1_path%>' >
					        <td colspan = 3>
					        <input name='authenticity_token' value='<%= form_authenticity_token %>' type='hidden' />
					        <%= hidden_field :assign, :article_id, value: article.article_id %>
					        <% if article.reviewer_status == 'accepted'%>
					          Already Accepted
					        <%elsif article.reviewer_status == 'rejected'%>
					          Already Rejected
					        <%else%>
						        <%= radio_button :assign, :reviewer_status, 'accepted'%>Accept  
						        <%= radio_button :assign, :reviewer_status, 'rejected'%>Reject
					          <input type='submit' value = 'Save Changes' class = 'btn btn-warning'>
					        <%end%>
					        </td>
					      </form>
					    <%end%>
				    </tr>
				  <%end%>
				</table>
				<div align='center'>
	        <%= paginate @articles %>
	      </div>
			</div>
	</center>				
<%end%>