<nav class='navbar navbar-inverse'>
<img class='navbar-brand img-circle' src = '/logo.jpeg' alt='logo' style='width:100px ; height:50px;padding: 2px 2px 2px 2px;'>
	<ul class ='nav navbar-nav'>
	  <li><%=link_with_icon('arrow-left', 'Back', articles_path)%></li>
    <li><%=link_with_icon('check-square', 'Review Article', review_article_path)%></li>
		<li><%=link_with_icon(:download, 'Download Pdf', article_path(format:'pdf'))%></li>
	</ul>
	<ul class = 'pull-right nav navbar-nav'>
	  <li><%=link_with_icon(:home, 'Home', root_path)%></li>
	  <li style='right:0px;' class='active' ><%=link_with_icon('sign-out', 'Logout', destroy_user_session_path, method: :delete)%></li>
	</ul>
</nav>
<div class='container'>
<div class= 'row' '>
  <div class= 'col-lg-4' style= 'overflow:auto' >
  <%= image_tag @article.file.url if@article.file?%>
  </div>
  <div class= 'col-lg-8' style='float:left'>
		<div class = 'row'>
		  <div class ='col-lg-2'><strong>Title:&nbsp;&nbsp;</strong></div>
		  <div class ='col-lg-10'><%= @article.title%></div>
		</div>

		<div class = 'row'>
		  <div class ='col-lg-2'><strong>Category:&nbsp;&nbsp;</strong></div>
		  <div class ='col-lg-10'><%= @article.category%></div>
		</div>

    <div class = 'row'>
		  <div class ='col-lg-2'><strong>Description:&nbsp;&nbsp;</strong></div>
		  <div class ='col-lg-10'><%=@article.description.html_safe%></div>
		</div>

		<div class ='row'>
		  <div class ='col-lg-2'><Strong>Content:&nbsp;&nbsp;</Strong></div>
		  <div class ='col-lg-10'><%=@article.content.html_safe%></div>
		</div>
  </div>
</div>
</div>
