<nav class='navbar navbar-inverse'>
<img class='navbar-brand img-circle' src = '/logo.jpeg' alt='logo' style='width:100px ; height:50px;padding: 2px 2px 2px 2px;'>
	<ul class ='nav navbar-nav'>
	  <li><%=link_with_icon('arrow-left', 'Back', articles_path)%></li>
    <li><%=link_with_icon('check-square', 'Review Article', review_article_path)%></li>
		<li><%=link_with_icon(:download, 'Download Pdf', article_path(format:'pdf'))%></li>
	</ul>
	<ul class = 'pull-right nav navbar-nav'>
	  <li><%=link_with_icon(:home, 'Home', root_path)%></li>
	  <li style='right:0px;' class='active' ><%=link_with_icon('sign-out', 'Logout', destroy_user_session_path, method: :delete)%></li>
	</ul>
</nav>
<div class='container'>
	<div class= 'row'>
	  <div class= 'col-lg-12' >
	  <%= image_tag @article.file.url if@article.file?%>
	  </div>
	</div><br><br>
	<div class='row'>
	  <div class= 'col-lg-12' style='padding-right:0px;padding-left:0px;'>
		  <div class='well' >
	      <div class = 'article_title' >
	        <div class='col-lg-12' style='padding-right:0px;text-align: center;padding-left:0px;'>
				   <strong ><%= @article.title%></strong><hr>
				  </div>
			  </div>
			  <div class ='col-lg-2'>
			    <strong>Category:&nbsp;&nbsp;</strong>
			  </div>
			  <%= @article.category%>
			  <hr>
			  <div class ='col-lg-2'>
			    <strong>Description:&nbsp;&nbsp;</strong>
			  </div>
			  <%=@article.description.html_safe%>
			  <hr>
			  <div class ='col-lg-2'>
			    <Strong>Content:&nbsp;&nbsp;</Strong>
			  </div>
			  <%=simple_format(@article.content)%>
	    </div>
			<div class ='well'>
			  <div class ='col-lg-2'>
			    <br><Strong>Add a Comment:&nbsp;&nbsp;</Strong>
			  </div><br>
	      <%=form_for @comments  do|f|%>
	        <%=f.hidden_field :article_id, value: @article.id%>
	        <%=f.hidden_field :user_id, value: current_user.id%>
	        <%=f.text_area :comment%>
	        <%=f.submit "comment" %>
	      <%end%>
			</div>
	  </div>
	</div>
	<div class ='row'>
	  <div class='well'>
	    <h3 align='left'><strong>Comments</strong></h3>
	  </div>
	</div>
	<div class='row'>
	  <div class='well' style="margin-bottom:40px">
	    <%@article_comments.each do |comment_object|%>
				<div class = 'row'>
				  <div class='col-lg-6 '>
				   <h id='comment' ><%=comment_object.comment%></h>
				  </div>
				  <div class='col-lg-2 col-lg-offset-4'>
				    <div class = 'article_actions'>
				      <% if can? :update, comment_object %>
					      <i class="fa fa-pencil" id ='a'></i><%else%><%end%>
					    <% if can? :destroy, comment_object %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					    <%= link_with_icon(:trash, '', comment_path(id: comment_object.id), method: :delete, data: { confirm: 'Are you sure?'})%>
					    <%else%>
					    <%end%>
			      </div>
			    </div>
				</div><hr> 
	    <%end%>
	  </div>
  </div>
</div>

