<nav class='navbar navbar-inverse'>
	<div class="container-fluid" >
	  <div class="navbar-header" >
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      </button>
	    <img class='navbar-brand img-circle' src = '/logo.jpeg' alt='logo' style='width:100px ;padding: 2px;'>
	  </div>
	  <div class="collapse navbar-collapse" id="myNavbar" >
			<ul class ='nav navbar-nav'>
			  <li><%=link_with_icon('arrow-left', 'Back', articles_path)%></li>
		    <li><%=link_with_icon('check-square', 'Review Article', review_article_path)%></li>
				<li><%=link_with_icon(:download, 'Download Pdf', article_path(format:'pdf'))%></li>
			</ul>
			<ul class = 'pull-right nav navbar-nav'>
			  <li><%=link_with_icon(:home, 'Home', root_path)%></li>
			  <li style='right:0px;' class='active' ><%=link_with_icon('sign-out', 'Logout', destroy_user_session_path, method: :delete)%></li>
			</ul>
		</div>
	</div>
</nav>
<div class='container'>
<div id = "product-modal" class = "modal fade" style="color:black;">
<h1></h1>
</div>

	<div class= 'row'>
	  <div class= 'col-lg-12' >
	  <%= image_tag @article.file.url if@article.file?%>
	  </div>
	</div><br><br>
	<div class='row'>
	  <div class= 'col-lg-12' style='padding-right:0px;padding-left:0px;'>
		  <div class='well' >
	      <div class = 'article_title' >
	        <div class='col-lg-12' style='padding-right:0px;text-align: center;padding-left:0px;'>
				   <strong ><%= @article.title%></strong>&nbsp;&nbsp;&nbsp;<% if can? :update, @article %>
							      <%= link_with_icon(:pencil, '', edit_article_path(id: @article.id), method: :get, style: "float:right")%><%else%><%end%>
							    <% if can? :destroy, @article %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							    <%= link_with_icon(:trash, '', article_path(id: @article.id), method: :delete,style: "float:right", data: { confirm: 'Are you sure?'})%>
							    <%else%>
							    <%end%><hr>
				  </div>
			  </div>
			  <div class ='col-lg-2'>
			    <strong>Category:&nbsp;&nbsp;</strong>
			  </div>
			  <%= @article.category%>
			  <hr>
			  <div class ='col-lg-2'>
			    <strong>Description:&nbsp;&nbsp;</strong>
			  </div>
			  <%=@article.description.html_safe%>
			  <hr>
			  <div class ='col-lg-2'>
			    <Strong>Content:&nbsp;&nbsp;</Strong>
			  </div>
			  <%=simple_format(@article.content)%>
	    </div>
			<div class ='well'>
			  <div class ='col-lg-2'>
			    <br><Strong>Post a Comment:&nbsp;&nbsp;</Strong>
			  </div>


			  <br>
	      <%=form_for @comment, remote: true do|f|%>
	        <%=f.hidden_field :article_id, value: @article.id%>
	        <%=f.hidden_field :user_id, value: current_user.id%>
	        <%=f.text_area :comment, id: "comment_text_box"%>
	        <%=f.submit "comment" %>
	      <%end%>

			</div>
	  </div>
	</div>
	<div class ='row'>
	  <div class='well'>
	    <h3 align='left'><strong>Comments</strong></h3>
	  </div>
	</div>
	<div class='row' >
	  <div class='well' id="comment_section" style="margin-bottom:40px">
	  <m id="comments">
	   <%=render @article_comments %>
	  </m>

	  </div>

  </div>


</div>

