<div class="container-fluid">
  <div class='row' style="margin:0;">
    <nav class='navbar navbar-inverse' style="height: auto !important;" >
      <div class="container-fluid" >
        <div class="navbar-header" >
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
          <img class='navbar-brand img-circle' src = 'logo.jpeg' alt='logo' style='width:100px ; height:60px !important;padding: 2px;'>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <h1 style="text-align:center;color:green;"> Welcome&nbsp;<strong> <%= current_user.name.titleize%></strong></h1>
          <hr style = "margin:0px 0px 0px 0px"  >
          <ul class='nav navbar-nav'>
            <% if can? :manage, :all %>
              <li ><%=link_to 'Dashboard', rails_admin_path, method: :get%></li>
            <%end%>
            <% if cannot? :manage, :all %>
              <li><%=link_with_icon(:plus, 'Add Article', new_article_path, method: :get,)%></li>
              <li><%=link_with_icon('list-alt', 'Articles', articles_path, method: :get)%></li>
              <li><%=link_with_icon('check-square', 'Review Article', review_article_path)%></li>
            <%end%>
          </ul>
          <ul class= 'pull-right nav navbar-nav'>
            <li><a href='<%=edit_user_registration_path(current_user.id)%>'><i class='fa fa-cog fa-spin '></i>Edit profile</a></li>
            <li class='active'><%=link_with_icon('sign-out', 'Logout', destroy_user_session_path, method: :delete)%></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div  class ="img-responsive" style="margin:0;background-image: url(/bg3.jpg);height:658px;background-size:100% 100%;">
  </div>
</div>