<div class='row' style="margin:0px 0px 0px 0px">
  <nav class='navbar navbar-inverse' >
    <img class='navbar-brand img-circle' src = 'logo.jpeg' alt='logo' style='width:100px ; height:60px;padding: 2px 2px 2px 2px;'>
    <h1 style="text-align:center;color:green;"> Welcome&nbsp;<strong> <%= current_user.name.titleize%></strong></h1>
    </hr >
      <ul class='nav navbar-nav'>
        <% if can? :manage, :all %>
          <li ><%=link_to 'Dashboard', rails_admin_path, method: :get%></li>
        <%end%>
        <% if cannot? :manage, :all %>
          <li><%=link_with_icon(:plus, 'Add Article', new_article_path, method: :get,)%></li>
          <li><%=link_with_icon('list-alt', 'Articles', articles_path, method: :get)%></li>
          <li><%=link_with_icon('check-square', 'Review Article', review_article_path)%></li>
        <%end%>
      </ul>
      <ul class= 'pull-right nav navbar-nav'>
        <li><a href='<%=edit_user_registration_path(current_user.id)%>'><i class='fa fa-cog fa-spin '></i>Edit profile</a></li>
        <li class='active'><%=link_with_icon('sign-out', 'Logout', destroy_user_session_path, method: :delete)%></li>
      </ul>
  </nav>
</div>
<div class = 'row' style="margin:0px 0px 0px 0px">
  <img  class="img-responsive" style="position: relative;"src ='/bg3.jpg' alt = 'img' >
</div>