<nav class='navbar navbar-inverse'>
  <img class='navbar-brand img-circle' src = '/logo.jpeg' alt='logo' style='width:100px ; height:60px;padding: 2px 2px 2px 2px;'>
  <h1 style='color:green; text-align:center;'>
  <strong>Welcome To Online Peer System</strong></h1>
</nav>
<div class= 'container-fluid img-responsive' style="background-image:url(/bg3.jpg); background-size: cover;height:658px; " >
  <div style="font-weight:90; background-color: white; margin-left:35%;box-shadow: 10px 10px 6px black; margin-top:20px;text-align:center; width:25%; opacity: 0.8; height:auto;"><br>

  <h2>Change your password</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%if devise_error_messages!.present?%>
   <div style = "margin:0px 0px 0px 0px" class = 'alert alert-danger alert-dismissable' >
        <a href='#' class='close' data-dismiss='alert' aria-label='close'>×</a>
        <%= devise_error_messages! %>
     </div>
  <%end%>
    <%= f.hidden_field :reset_password_token %>

    <div class='field'>
      <%= f.label :password, 'New password' %><br />
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: 'off' %>
    </div>

    <div class='field'>
      <%= f.label :password_confirmation, 'Confirm new password' %><br />
      <%= f.password_field :password_confirmation, autocomplete: 'off' %>
    </div>

    <div class='actions'>
      <%= f.submit 'Change my password' %>
    </div>
  <% end %>
  <div class ='link'>
    <%= render 'devise/shared/links' %>
  </div><br>
  </div>
</div>