<center>
  <%if devise_error_messages!.present?%>
   <div style = "margin:0px 0px 0px 0px" class = 'alert alert-danger alert-dismissable' >
        <a href='#' class='close' data-dismiss='alert' aria-label='close'>×</a>
		    <%= devise_error_messages! %>
		 </div>
  <%end%>
</center>
<div class = 'container'>
<center>

	<h2><strong>Forgot your password?</strong></h2>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <div class='field'>
	    <%= f.label :email %><br />
	    <%= f.email_field :email, autofocus: true %>
	  </div>

	  <div class='actions'>
	    <%= f.submit 'Send me reset password instructions' %>
	  </div>
	<% end %>
<div class ='link'>
	<%= render 'devise/shared/links' %>
	</div>
	</center>
</div>