<nav class='navbar navbar-inverse '>
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class='navbar-brand img-circle' src = '/logo.jpeg' alt='logo' style='width:100px ; height:60px;padding: 2px 2px 2px 2px;'>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <h1 style='color:green; text-align:center;'><strong>Welcome To Online Peer System</strong></h1>
    </div>
  </div> 
</nav>
<div class= 'container-fluid img-responsive' style="background-size:100% 100%;background-image:url(/bg3.jpg);height:658px; " >
  <div  align="center" style="font-weight:90; background-color: white; margin-left:34%;box-shadow: 10px 10px 6px black; margin-top:20px;text-align:center; width:33%; opacity: 0.8; height:auto;"><br>
    <h2 ><strong>Log in</strong></h2>
  <div style="margin:15px;">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class='field'>
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true%>
      </div>
      
      <div class='field'>
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: 'off' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class='field'>
          <%= f.check_box :remember_me, style:'width:auto !important'%>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class='actions'>
        <%= f.submit 'Log in' %>
      </div>
    <% end %>
  </div>
    <%= render 'devise/shared/links' %>  <br>
  </div>

</div>