<!DOCTYPE html>
<html>
  <head>
    <title>OnlinePeerSystem</title>
    <%= csrf_meta_tags %>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body style='background-color: #DEB887; height:100%; margin-bottom:30px' >
  <center>
  <%- flash.each do |name, msg| -%>
  <%if name == 'notice' || name == 'success'%>
     <div style = "margin:0px 0px 0px 0px" class = 'alert alert-success alert-dismissable' >
      <a href='#' class='close' data-dismiss='alert' aria-label='close'>×</a>
	    <%= msg %>
		 </div>
	<%else%>
    <div style = "margin:0px 0px 0px 0px" class = 'alert alert-danger alert-dismissable' >
    <a href='#' class='close' data-dismiss='alert' aria-label='close'>×</a>
		  <%= msg %>
		</div>
  <%end %> 
<%end%>
</center>
	  <%= yield %> 

	  <div class = 'footer' >
	    <a href='https://www.facebook.com/smartdata.enterprises.inc' target='_blank'>
	    <i class='fa fa-facebook' aria-hidden='true'></i>
	    </a>
	    <a href='https://www.twitter.com' target='_blank'>
	    <i class='fa fa-twitter' aria-hidden='true'></i>
	    </a>
      <a href='mailto:lovepreetsinghvirdi@gmail.com'><i class='fa fa-envelope' aria-hidden='true'></i></a>
	    <h6>&copy;copyright Lovepret Singh</h6> 
    </div>
  </body>
</html>
